.Dialogs{
    display: flex;
    margin-top: 5px;
    justify-content: space-around;
}

.DialogsContent{
    width: 1500px;
    height: 90vh;

    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 5px 5px 5px 5px rgba(34, 60, 80, 0.6);
}